#header{
    display: flex;
    justify-content: space-between;
    border:1px solid black;
    margin-bottom: 1%;
}

#body{
    border:1px solid black
}

#nav-items > ul {
    display: flex;
}

ul>li{
padding: 10px;
margin: 10px;
list-style-type: none;
}

#logo > img{
    margin: 1%;
    width:50%;
    height: 85%;
 
}


#res-card{
    margin:3%;
    width:18%;
    
}

#res-card:hover{
    box-shadow: 10px 10px 5px lightgrey ;
    cursor: pointer;
}

#res-image{
    width:95%;
    margin:2%;
    height: 40%;

}

#res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* border:1px solid black; */
}

#lineHeight{
    line-height: 200%;
}


#search{
    display: flex;
    justify-content: center;
}
